@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #84E1AD;
}
header {
    background-image: linear-gradient(to bottom,#50E090,#195935);
    color: white;
    text-align: center;
    height: 190px;
    width: 100%;
    padding-top: 1px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;

}
h1.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.421);
}

p.header {
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.421);
}
    
nav {
    text-align: left;
    padding-top: 10px;
}
nav > a.menu {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    
}
nav > a.menu:hover {
    background-color: #328656;
    padding: 7px;
    border-radius: 4px;
    
}
main {
    background-color: white;
    width: 80%;
    max-height: 80%;
    margin: 190px auto 20px auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.23);
    padding-bottom: 30px;
    
}
main picture.flexivel img{
    display: block;
    margin: auto;
    max-width: 100%;
}
a.linkmain {
    background-color: #76d9a3;
    color: #195935;
    text-decoration: none;
    font-weight: bold;
}
a.linkmain:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'idroid', Times, serif;
    margin-left: 10px;
    color: #246441;
    text-align: center;
}
h2 {
    font-family: 'idroid', Times, serif;
    font-size: 19px;
    margin: 15px;
    background-image: linear-gradient(to right, #C4EBD5, white);
    color: #246441;
}
p {
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}
main iframe {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 100%;
}
h3 {
    background-color: #2FA866;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border-radius: 5px 5px 0px 0px;
    width: 95%;
    margin: 10px auto 0px auto;
}
article {
    background-color: #C5EBD6;
    margin: 0px auto 10px auto;
    width: 97%;
    padding-top: 10px;
    padding-bottom: 1px;
}
ul {
    display: inline-block;
    padding-top: 1px;
}
footer {
    background-color: #1A5C38;
    text-align: center;
    color: white;
    
}
.lista {
    gap: 0px;
    
}