@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

}
body {
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
}
header h1 {
    font-size: 3.7em;
    padding-top: 55px;
    padding-bottom: 8px;
    font-weight: bolder;
}
header p {
    font-size: 1.2em;
    font-weight: bolder;    
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: underline;
}
main {
    position: relative;
}
article#joana {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
article.fbranco {
    background-color: white;
    color: black;
    width: 100%;
    height: 430px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 30px;
}
article.fbranco p.normal {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 53px;
    line-height: 53px;
}
article.ftrans {
    background-color: rgba(0, 0, 0, 0);
     width: 100%;
     height: 430px;
     padding-top: 75px;
     padding-left: 33px;
}
article.ftrans p {
    background-color: rgba(0, 0, 0, 0.396);
    color: white;
    font-weight: bold;
    font-size: 26px;
    width: 320px;
    line-height: 53px;
    padding-left: 10px;
}
p.trans {
     background-color: rgba(0, 0, 0, 0.396);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 26px;
    width: 320px;
    line-height: 53px;
    padding-left: 10px;
}
p.normal {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 53px;
    line-height: 53px;
}
section#livro {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 2000px;

}
article.fbranco2 {
 background-color: white;
    color: black;
    width: 100%;
    height: 800px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 33px;
}
article.ftrans2 p {
    background-color: rgba(0, 0, 0, 0.396);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 26px;
    width: 320px;
    line-height: 53px;
    padding-left: 10px;
}
article.ftrans2 {
    background-color: rgba(0, 0, 0, 0);
     width: 100%;
     height: 430px;
     padding-top: 75px;
     padding-left: 33px;
}
article.fbranco3 {
 background-color: white;
    color: black;
    width: 100%;
    height: 800px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 33px;
}
footer { 
    position: bottom;
   
    background-color: black;
    color: white;
    text-align: center;
    z-index: 9999;
}