@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#C7FFED, #D8FFDB);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(4, 96, 96, 0.326);
    width: 600px;
    padding: 15px;
    margin: auto;

}
h1 {
    color: #023535;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.116);
}
h2 {
    color: #015958;
}
p {
    text-align: justify;
}
